sphinx-design
empack
sphinxcontrib-bibtex
sphinxcontrib-youtube
sphinx-press-theme
sphinx-tabs
jupyterlite-xeus
# jupyterlite-sphinx
git+https://github.com/aaronyicongfu/jupyterlite-sphinx.git@main#egg=jupyterlite-sphinx
